<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host_Bin_Shop</title>
</head>
<body>
    <script>alert('Welcome back boss!!') </script>
    <h1>Bin_Shop</h1>
    <form action="insert" method="post">
        Product Name: <input type="text" name="txtName">
        <br>
        Price: <input type="text" name="txtPrice">
        <br>
        Size: <input type="button" value="Big" value="Small" value="Medium">
        <br>
        Category: <input type="button" value="Búp bê và thú bông" value="Đồ chơi mô hình" value="Lego" value="mô hình"> 
        <br>
        {{!-- Imagine: <input type="image" src="" alt=""> --}}
        {{!-- <br> --}}
        <input type="submit" value="Insert">
        
    </form>
</body>
</html>